*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #74edff;
  --color-secondary: #1b4d9b;
  --font-primary: #9f9f9f;
  --font-header: #242424;
  --color-accent1: #1d77b2;
  --color-accent2: #1b84e4;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--font-header);
}

img {
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--font-primary);
  margin: 0;
  overflow-x: hidden;
}

p {
  line-height: 180%;
}

.section-width {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  min-height: 100vh;
  color: #fff;
  padding-bottom: 4rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  padding: 3em 0;
}

nav ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav li {
  margin-left: 1rem;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.logo span {
  color: var(--color-accent1);
}

nav a,
nav a:visited {
  color: #fff;
  text-decoration: none;
}

.hero-content {
  display: flex;
  margin-bottom: 5rem;
  position: static;
  z-index: 1;
}

.hero-content > div {
  width: 50%;
}

.hero-content div:nth-child(2n) {
  max-width: 50%;
}

.floating-cards {
  width: auto;
  height: 100%;
}

.hero-content h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 130%;
}

.hero-content h1 span {
  color: var(--color-primary);
}

.hero-content p {
  font-size: 2em;
}

.hero-content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.hero-footer p {
  margin: 0;
}

.hero-footer h4 {
  color: #fff;
}

/* .hero-image {
  background-image: url("../assets/img/hero-cards-with-shadow.png");
  width: 100%;
  height: 100%;
  min-height: 700px;
  background-repeat: no-repeat;
  position: absolute;
  right: -50%;
  z-index: 0;
} */

.button:not(.slider-btn) {
  min-width: 200px;
}

button {
  padding: 1rem 1.5rem;
  border-radius: 50px;
  background: transparent;
  border: 1px solid var(--color-primary);
  color: #fff;
}

.btn-group {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  height: 65px;
}

.btn-primary {
  background-image: linear-gradient(
    30deg,
    var(--color-primary),
    var(--color-secondary)
  );
  border: 0;
  box-shadow: 0 10px 6px var(--color-primary);
  width: 25%;
}

.btn-secondary {
  display: block;
  width: 50%;
  background: #cfe2ff;
  color: #1b84e4;
  border: none;
}

.btn-third {
  display: block;
  width: 15%;
  background: #4188f3;
  color: #d1e2fb;
  border: none;
}

.form-btn {
  margin-top: 30px;
  background-color: #f56718;
  border: none;
  border-radius: 0px;
  height: 50px;
  width: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 1fr);
  gap: 80px;
  grid-template-areas:
    "left heading1"
    "left heading2"
    "left heading3";
}

.left-column {
  /* display: grid; */
  height: 100%;
  grid-area: left;
  /* align-content: center; */
}

.block-margin {
  margin: 120px 0px;
}

.big-header {
  font-size: 3em;
  margin-top: -10px;
}

.center-content {
  display: grid;
  place-items: center;
  margin: 100px 0;
}

.icon {
  height: 30px;
  width: 30px;
  color: #1b84e4;
  margin-right: 10px;
}

.headerwithicon {
  display: flex;
}

.blockpadding {
  padding: 10px 0;
  color: #aaaaaa;
}

/* 3cards */
.product-card {
  display: flex;
  background: var(--color-secondary);
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.product-card-img {
  width: 80%;
  transform: translateY(-40px);
  opacity: 80%;
}

.product-card-header {
  color: white;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.product-card-list {
  padding: 0;
}

#cards {
  background-color: #f5f7fb;
  padding: 50px 0;
}

#section-with-image {
  background-color: #3279e3;
  padding: 50px 0;
}

.grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 100px;
}

.big-header2 {
  font-size: 2.5em;
  color: #fff;
}

.blockpadding2 {
  color: #cfe0f9;
}

.square {
  width: 500px;
  height: 500px;
  border-radius: 5%;
  background-image: linear-gradient(to bottom right, blue, white);
}

.appreg {
  background-color: #3279e3;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ending {
  text-align: center;
  font-size: 2.5em;
  color: white;
  font-weight: bold;
}

/* .store {
  display: inline-block;
  color: white;
  border-width: 2px;
  border-color: grey;
  border-radius: 25px;
  background-color: black;
} */

.store1 {
  background-image: url("https://en.logodownload.org/wp-content/uploads/2019/06/get-it-on-google-play-badge.png");
  background-size: 100%;
}

.store2 {
  background-image: url("https://www.mipic.co/blog/wp-content/uploads/2019/07/app-store-icon-png-14.png");
  background-size: 100%;
}

.store-btn {
  border-radius: 20px;
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat-group {
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: #cfe0f9;
  margin-top: 50px;
}

.stat span:first-child {
  color: yellow;
  font-weight: bold;
  font-size: 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 200px 100px;
  color: white;
  font-size: 30px;
}

.colorfoot {
  padding-top: 200px;
  background-color: #3279e3;
}

.footer-grid p {
  margin-top: 0;
  margin-bottom: 60px;
}

.footer-title {
  font-size: small;
  font-weight: normal;
  color: white;
  grid-column-start: 1;
  grid-column-end: -1;
}

.logo {
  color: white;
}

.logo span {
  color: #74eeff;
}

.form {
  display: flex;
  direction: row;
}

#email {
  margin-top: 30px;
  margin-left: 20px;
  width: 60%;
  border: none;
  padding: 16px 20px;
  height: 50px;
}

.footer-grid nav {
  display: grid;
  font-size: small;
  word-spacing: 40px;
}
